main{
    display: flex;
}
.section-contact{
    width: 17%;
    height: 652px;
}
.section-main{
background-color: #E8EBE4;
width: 83%;
height: 652px;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.img-ref{
    width: 200px;
}
.text-style-1{
    font-size: 45px;
    margin: 0%;
}
.text-style-2{
    font-size: 16px;
    margin: 5px 300px;
    text-align: center;
}

.chat-box1{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 59px;
    border-bottom: 10px;
    border-color: black;
}
.chat-box-text{
    padding: 15px;
    width: 50%;
}
.text-style-name{
    margin: 0%;
    font-size: 14px;
}
.text-style-chat{
    font-size: 12px;
    margin: 0%;
}
.img-profile{
    width: 35px;
    border-radius: 50%;
}
.img-profile-t2{
    width: 45px;
    border-radius: 50%;
}
.chat-box2{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 118px;
    border: 3px;
    border-color: black;
}
.bottom-style{
    background-color: #A491D2;
    width: 60%;
    height: 50px;
    color: white;
    border: 0px;
}
.chat-box3{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 59px;
    border-color: black;
}